/* ================= MISSION & VISION ================= */

.mission-vision{
  background:#fff;
}

.mission-vision-grid{
  display:grid;
  grid-template-columns:repeat(2,1fr);
  gap:40px;
}

.mission-card,
.vision-card{
  background:white;

  padding:50px;
text-align: center;
  border-radius:32px;

  box-shadow:
  0 20px 50px rgba(0,0,0,.06);

  transition:.3s;
}

.mission-card:hover,
.vision-card:hover{
  transform:translateY(-10px);
}

.mission-icon,
.vision-icon{
  width:80px;
  height:80px;
 

  display:flex;
  justify-content:center;
  align-items:center;

  border-radius:20px;

  background:#e0f2fe;

  color:#0ea5e9;

  font-size:2rem;

   margin:0 auto 25px;
}

.mission-card h3,
.vision-card h3{
  font-size:2rem;

  color:#0f172a;

  margin-bottom:20px;
}

.mission-card p,
.vision-card p{
  color:#64748b;
align-content: center;
justify-content: center;
  line-height:1.9;
}

/* TABLET */

@media (max-width:768px){

  .mission-vision-grid{
    grid-template-columns:1fr;
  }

}

